<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Designation</th>
      <th scope="col">Url</th>
      <th scope="col">Ingredients</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let meal of meals">
      <td>{{meal.id}}</td>
      <td>{{meal.designation}}</td>
      <td><a href="{{meal.recipeUrl}}">{{meal.recipeUrl}}</a></td>
      <td>{{meal.ingredients.length}}</td>
      <td><button class="btn btn-primary" (click)="editMeal(meal)">Edit</button></td>
      <td><button class="btn btn-danger" (click)="deleteMeal(meal)">Delete</button></td>
    </tr>
  </tbody>
</table>