<ion-content padding>
  <ion-button (click)="buttonclick()">sdfds</ion-button>
  <ion-card *ngFor="let weekday of weekdays; let i = index;" class="ion-margin-bottom" color="primary">
    <ion-card-header class="ion-no-padding ion-padding-start ion-padding-top">
      <ion-card-subtitle i18n="@@weekday" id="card-title">{{ weekday.date | date: 'EEEE'}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <h1 i18n="@@lunch" id="lunch">Lunch</h1>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="light" size="large" (click)="onMealCardClick(weekday, 'Lunch')">
              <span id="lunch-meal" *ngIf="weekday.lunch"><strong>{{weekday.lunch.designation}}</strong></span>
              <span id="lunch-meal" *ngIf="!weekday.lunch"><strong>Select Meal...</strong></span>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <h1 i18n="@@dinner" id="dinner">Dinner</h1>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="light" size="large" (click)="onMealCardClick(weekday, 'Dinner')">
              <span id="dinner-meal" *ngIf="weekday.dinner"><strong>{{weekday.dinner.designation}}</strong></span>
              <span id="dinner-meal" *ngIf="!weekday.dinner"><strong>Select Meal...</strong></span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>